<h1>Whoops!</h1>
<p>Something went wrong while we were processing your request for <code>{{body.url}}</code>.</p>

{{#if body.showDetails}}
<p>{{body.message}}</p>
<pre>
    <code>
    {{body.stack}}
    </code>
</pre>
{{/if}}