<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>Timbus | Assignment Submissions</title>

    <link rel="stylesheet" href="style.min.css" media="screen">

    <script type="text/javascript" src="api.js"></script>
    <script type="text/javascript" src="script.js" defer></script>

</head>

<body>

    {{> header }}

    <main class="main">
        {{{body}}}
    </main>

</body>

</html>